.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
Derived
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
package-lock.json
node_modules
docc/
Sources/Blueprint/Blueprint.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
